  .footer-fixed {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Center the div horizontally */
    width: 80%; /* Adjust width as needed */
    background-color: #ffffff;
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    text-align: center;
    z-index: 1000;
    height: 12vh;
  }

  .footer-item {
    width: 100%;
    padding: 10px;
    background-color: #aaa6a6;
    color: rgb(19, 19, 19);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  
  .footer-item:hover {
    background-color: #5f708d;
  }