.wood-div {
    background-image: url('../../../public/assets/wood-2045379_1920.jpg'); /* Add your wood texture image URL */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.4); /* Depth effect */
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Full viewport height */
    width: 100%;
  }
  
  .center-div {
    width: 200px;
    height: 100vh;
  }

  .buttonView{
    background-color: #e6cca6;
    border-radius: 100px;
    height: 11vh;
    width: 5vw;
  }

  .buttonView:hover{
    background-color: #3dbed1;
    transition-duration: 0.3s;
  }

  .buttonView:disabled{
    background-color: gray;
    color: rgb(64, 64, 64);
  }